<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ttp.Meteor.MeteorMonoPrint.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Ttp.Meteor.MeteorMonoPrint.Properties.Settings>
            <setting name="YTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintFrequency" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Copies" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RepeatMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PrintResolution" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HeadTemperature" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="HeadTemperatureEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AuxTemperature" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="AuxTemperatureEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImageFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="ExternalEncoder" serializeAs="String">
                <value>False</value>
            </setting>
        </Ttp.Meteor.MeteorMonoPrint.Properties.Settings>
    </userSettings>
</configuration>